@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* nunito bolder */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* acme */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Prompt&display=swap');


*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e,rgb(60, 60, 144),#ee008b);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#background
{
    background-image: url("2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image: linear-gradient(rgb(60, 60, 144),#ee008b ,#0b1354); */
    /* background-image: url('compass.png'); */
} 
#nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
}
#nav_head
{
    margin: 7vh;
    color: whitesmoke;
    font-weight:bolder;
    font-size: 20vh;
}
#nav_list
{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav_list li
{
    list-style-type: none;
    margin: 1vh;
    font-size: 3vh;
    display: block;
    margin: 2vh;

}
#nav_list li a{
    text-decoration: none;
    color: whitesmoke;
    font-family :Roboto;
    padding: 0.7vh;
}
#nav_list :hover a{border-bottom: 0.5vh solid #165baa;}
.btn1
{
    height: auto;
    margin: 5vh;
	padding: 1vh 3vh;
    margin-bottom: 10vh;
	/* display: inline-block; */
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(140, 0, 255, 0.835);
    border: rgb(255, 255, 255) solid 1px;
    font-size: 2vh;
    transition: scale 0.5s;
}
.btn1:hover
{
    scale: 1.3;
    height: auto;
    margin: 5vh;
	padding: 1vh 3vh;
    margin-bottom: 10vh;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ee008b1a;
    border: white solid 2px;
    font-size: 2vh;
}
p{
    color: whitesmoke;
    font-size: 2.5vh;
}
#Home
{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Home h2 {
    margin: 5vh;
    font-size: 5vh;
    color: whitesmoke;
}
#Home h1 {
    margin-bottom: 3vh;
    font-size: 7vh;
    color: black;
}
#about
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
}
#about_left
{
    width: 50%;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 1vh;
}
#about_right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    padding-bottom: 2vh;
    justify-content: space-between;
}
#about_right p:nth-child(1){
    font-family: acme;
}
#about_right p:nth-child(2){
    font-family: Nunito;
}
#features h1{
    text-align: center;
    color: whitesmoke;
    font-size: 10vh;
}

#register
{
    /* background-color: #F765A3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    justify-content: space-between;
}
#register h3
{
    margin: 5vh;
    font-size: 5vh;
    color: whitesmoke;
}
#register h1{
    font-size: 7vh;
    font-family: roboto;
    color: whitesmoke;
}
.btn2
{
    height: auto;
    margin: 5vh;
	padding: 1vh 3vh;
    margin-bottom: 10vh;
	/* display: inline-block; */
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(140, 0, 255, 0.835);
    border: rgb(255, 255, 255) solid 1px;
    font-size: 2vh;
    transition: scale 0.5s;
}
.btn2:hover
{
    scale: 1.3;
    height: auto;
    margin: 5vh;
	padding: 1vh 3vh;
    margin-bottom: 10vh;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ee008b1a;
    border: white solid 2px;
    font-size: 2vh;
}
.point
{
    color: whitesmoke;

}   
.upper
{
    color: whitesmoke;
}
.lower
{
    color: whitesmoke;
}

.decorimg{
    border-radius: 50px;
}

.img1{
    min-width: 50rem;
    max-height: 15rem;
}

.img2{
    max-width: 40rem;
    max-height: 36rem;
}

.img3{
    max-width: 20rem;
    max-height: 15rem;
}

.upper{
    font-weight: bold;
    font-size: 225%;
}

.col{
    border-radius: 11px;
    
}
.col-md-4{
    padding: 3vh 1vw;
    background-color: #0b1354;
    border-radius: 30px;
    scale:0.98;
    transition: all 0.5s;
}
.col-md-4:hover{
    background-color: #0b1354;
    border-radius: 30px;
    margin-top: 2vh;
    scale:1;
}

/* Animated BG

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
} */

.circles{
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
