@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* nunito bolder */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* acme */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Prompt&display=swap');


*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    
}
#background
{
    /* background-image: url("2.png");
    background-repeat: no-repeat;
    background-size: 100%; */

    background-image: linear-gradient(#ee008b ,#0b1354);
}
#nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
}
#nav_head
{
    margin: 7vh;
    color: whitesmoke;
    font-size: 10vh;
}
#nav_list
{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav_list li
{
    list-style-type: none;
    margin: 1vh;
    font-size: 3vh;
    display: block;
    margin: 2vh;

}
#nav_list li a{
    text-decoration: none;
    color: whitesmoke;
    font-family :Roboto;
    padding: 0.7vh;
}
#nav_list :hover a{border-bottom: 0.5vh solid #165baa;}

.mainbg{
    background-color: #0b1354;
    height:100vh;
    width: 100vw;
}