<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet"  href="{% static '/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="background"> 
     <nav id = "nav">
        <h1 id="nav_head">PERIODICITY</h1>
        <ul id = "nav_list">
            <!-- <li><a href="#Home">Home</a></li>
            <li><a href="#about">About</a></li> -->
            <li><a href="period tracker/period tracker.html">Period Tracker</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#blogs">Blogs</a></li>
            <li><a href="/ranking page/ranking.html">Donations</a></li>
            <!-- <li><a href="#register">Register</a></li> -->
            <li><a href="#nh?">Need Help?</a></li>
        </ul>
     </nav>

     <div id="Home">
        <h2>Period Power!</h2>
        <h1>End Period Poverty</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore praesentium libero molestias quis laudantium omnis nam officia, corrupti quaerat nulla eos<br> reiciendis, consectetur nobis sunt nesciunt delectus repudiandae in assumenda!</p>
        <div style="display: flex; flex-direction: row; margin-bottom: 10vh;">
            <!-- <button class="btn1">App</button>
            <button class="btn1">Store</button> -->
        </div>    
        <img class="decorimg" src="{% static '/1.jpg' %}" alt="img" style="height:60vh; width:50%;margin-bottom: 20vh;">
     </div>
     <section id="about">
        <div id="about_left">
            <img class="decorimg" src="{% static '/2.jpg' %}" alt="img" style="height: 100%; width: 90%;">
        </div>
        <div id="about_right">
            <p style="font-size: 3vh;">LET'S TALK ABOUT MENSTURAL HEALTH!</p>
            <h1 style="font-size: 5vh; margin: 2vh; color: whitesmoke;">About us</h1> 
            <p style="font-size: 2.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae tenetur nisi atque! Dolore fugit alias voluptatem ea pariatur minima eum quisquam. Veniam <br>tenetur laboriosam, temporibus voluptatem asperiores repellat optio!</p>
            <br>
            <br>
            <img class="decorimg"src="{% static '/1.jpg' %}" alt="img" style="height: 100%; width: 90%;">
        </div>
     </section>
     <section id="features">
         <h1>Features</h1>
        <div class="container-fluid panel my-5">

            <div class="row" id="first3">
              <div class="col-md-4 ">
                <a>
                <div class="panel my-3">
                  <div class="point my-3">01.</div>
                  <div class="upper my-3">Period tracker</div>
                  <div class="lower">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quasi. Veritatis voluptatem fugit eligendi incidunt cum? Cum ut repellendus odio?</div>
                </div>
              </a>
              </div>
    
              <div class="col-md-4 ">
                <div class="panel my-3">
                  <div class="point my-3">02.</div>
                  <div class="upper my-3">Awareness Blogs</div>
                  <div class="lower">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quasi. Veritatis voluptatem fugit eligendi incidunt cum? Cum ut repellendus odio?</div>
                </div>
              </div>
    
              <div class="col-md-4 ">
                <div class="panel my-3">
                  <div class="point my-3">03.</div>
                  <div class="upper my-3">Our Products</div>
                  <div class="lower">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quasi. Veritatis voluptatem fugit eligendi incidunt cum? Cum ut repellendus odio?</div>
                </div>
              </div>
            </div>
            
           
          
    
        </div>

    </section>
    <footer id="register">
        <h3>Start using it by registering</h3>
        <h1>Join the millions of people</h1>
        <span>
           {% load templates %}
            <button class="btn2" onclick="location.href= templates/login.html" >Sign up</button>
            <button class="btn2">Log in</button>
        </span>
    </footer>
    <div style="height: 5vh; ">

    </div>
</div>
</body>
</html>